<%# Description of an Algorithm %>
<%# title: optional %>
<%# english: optional english title %>
<%# label: optional wobject label %>
<%# index: optional index entry %>
<% if meta?('index') %>
<% document.index.register(meta['index'], self) %>
<% end %>
<div class="woowoo-algorithm card mb-3" id="<%= label %>">
  <h5 class="card-header bg-info">
    <div class="d-flex justify-content-between">
    <span class="anchored" data-anchor-id="<%= label %>">Algoritmus <%= numeric_label %>
    <% if meta?('title') && meta?('english') %>
    (<%= meta['title'] %> / <%= meta['english'] %>)
    <% elsif meta?('title') && !meta?('english') %>
    (<%= meta['title'] %>)
    <% end %></span>
    <span class="fa fa-cogs"></span>
    </div>
  </h5>
  <div class="card-body">
    <%= r content %>
  </div>
</div>
