<%# a quote %>
<%# author: optional author %>
<%# link: optional link, ignored when no author is given %>
<% if meta['author'] %>
<figure>
  <blockquote class="blockquote">
    <%=r content %>
  </blockquote>
  <figcaption class="blockquote-footer">
    <% if meta['link'] %><a href="<%= meta['link'] %>"><% end %>
    <cite title="<%= meta['author'] %>"><%= meta['author'] %></cite>
    <% if meta['link'] %></a><% end %>
  </figcaption>
</figure>

<% else %>
<blockquote class="blockquote">
  <%=r content %>
</blockquote>

<% end %>