<%# Warning wobject %>
<%# title: optional title %>
<%# english: optional english title %>
<%# label: optinal label %>
<%# index: optinal index entry %>
<% if meta?('index') %>
<% document.index.register(meta['index'], self) %>
<% end %>
<div class="woowoo-warning card mb-3" id="<%= label %>">
  <h5 class="card-header bg-danger">
    <div class="d-flex justify-content-between">
    <span class="anchored" data-anchor-id="<%= label %>">Varování <%= numeric_label %>
    <% if meta?('title') && meta?('english') %>
    (<%= meta['title'] %> / <%= meta['english'] %>)
    <% elsif meta?('title') && !meta?('english') %>
    (<%= meta['title'] %>)
    <% end %></span>
    <span class="fa fa-exclamation-circle"></span>
    </div>
  </h5>
  <div class="card-body">
    <%= r content %>
  </div>
</div>
