<%# Algorithm float %>
<%# options - title, english, index, label %>
<%# label: optional label %>
<%# Description of an Algorithm %>
<%# title: optional %>
<%# english: optional english title %>
<%# label: optional wobject label %>
<%# index: optional index entry %>
<% if meta?('index') %>
<% document.index.register(meta['index'], self) %>
<% end %>
<div class="algorithm" id="<%= label %>">
<%= r(content).rstrip %>
<div class="container-fluid">
<div class="row">
<div class="col-xs-10 col-xs-offset-1 caption text-center">
<p class="anchored" data-anchor-id="<%= label %>">
Algoritmus <%= numeric_label %><% if meta?('title') %>: <%= r(parse_text_stub(meta['title']), glue: true) %><% if meta? 'english' %> / \textit{<%= r(parse_text_stub(meta['english']), glue: true) %><% end %><% end %>
</p>
</div>
</div>
</div>
</div>
