<footer class="footer">
<div class="container">
  <small>
    <% authors.each_with_index do |author, j| %>
    <a href="mailto:<%= author['email'] %>"><span class="fa fa-envelope-o"> <%= author['name'] %></span></a><%= j < authors.length - 1 ? ', ' : '' %>
    <% end %>
  </small>
  <ul>
    <li><small title="<%= WooWoo::Helpers::TEMPLATE_SIGNATURE %>">WooWoo ver. <%= WooWoo::VERSION %></small></li>
    <li><small title="okamžik vygenerování"><%= timestamp %></small></li>
    <% if builder.is_git_repo? %>
    <li><small title="verze zdrojového dokumentu"><%= builder.git_head %></small></li>
    <% end %>
    <% if meta['draft'] %>
    <li><small>NÁVRH</small></li>
    <% end %>
    <% if meta['repository'] %>
    <li><small><a href="<%= meta['repository'] %>">zdrojový kód a hlášení chyb</a></small></li>
    <% end %>
  </ul>
</div>
</footer>