<!doctype html>
<html lang="cs">

<%= r '_head', binding: self.get_binding %>

<body>
  <%= r '_navbar', binding: self.get_binding %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <%= r '_menu', binding: self.get_binding %>
      </div>
      <div class="col-xs-12 col-md-9">
        <h1>Index</h1>
        <table class="table table-hover table-sm">
        <tbody>
        <% index.structured.keys.localize(:cs).sort.to_a.each do |ind1| %>
          <tr>
            <% hash = index.structured[ind1] %>
            <td><%= ind1 %></td>
            <td></td>
            <td>
              <% if hash[''] %>
                <% hash[''].each do |object| %>
                <a href="<%= object.link_to(object.label) %>"><span class="fa fa-link"></span></a>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% hash.keys.localize(:cs).sort.to_a.each do |ind2| %>
          <% next if ind2 == '' %>
          <tr>
            <td></td>
            <td><%= ind2 %></td>
            <td>
              <% hash[ind2].each do |object| %>
                <a href="<%= object.link_to(object.label) %>"><span class="fa fa-link"></span></a>
              <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>
        </tbody>
        </table>
      </div>
    </div>
  </div>

  <%= r '_scripts', binding: self.get_binding %>
</body>

<%= r '_footer', binding: self.get_binding %>

</html>
