<!doctype html>
<html lang="cs">

<%= r '_head', binding: self.get_binding %>

<body>
  <%= r '_navbar', binding: self.get_binding %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-3">
        <%= r '_menu', binding: self.get_binding %>
      </div>
      <div class="col-xs-12 col-md-9">
        <h1><%= title %></h1>

        <p class="lead mt-4">
          <% authors.each do |author| %>
          <a href="mailto:<%= author['email'] %>"><%= author['name'] %></a>,
          <%= author['institution'] %>
          <% end %>
        </p>

        <div class="mt-5 mb-4 d-flex justify-content-center">
          <img src="logo.svg" class="figure-img img-fluid" alt="Logo">
        </div>

        <h3>Obsah</h3>

        <% spine.top_sections.each do |chap| %>
        <h4 class="mb-3">
          <a href="<%= chap.label %>.html">
          <span><%= chap.numeric_label %></span>
          <span><%= chap.r(chap.parse_text_stub(chap.title), glue: true) %></span>
          </a>
        </h4>
          <% chap.children.each do |sec| %>
          <h5 class="ms-3">
            <a href="<%= sec.label %>.html">
            <span><%= sec.numeric_label %></span>
            <span><%= sec.r(sec.parse_text_stub(sec.title), glue: true) %></span>
            </a>
          </h5>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= r '_scripts', binding: self.get_binding %>
</body>

<%= r '_footer', binding: self.get_binding %>

</html>
