<%# AMSMath gather environment %>
<%# label: optional label %>
<% if parent && parent.identifier == 'paragraph'%></p><% end %>
<% if meta?('label') %>
<div class="woowoo-gather" id="<%= meta['label'] %>">
\begin{gather}
<%= r(content.first.content).strip %>
\label{<%= meta['label'] %>}\tag{<%= numeric_label %>}
\end{gather}
</div>
<% else %>
<div class="woowoo-gather">
\begin{gather*}
<%= r(content.first.content).strip %>
\end{gather*}
</div>
<% end %>
<% if parent && parent.identifier == 'paragraph'%><p class="woowoo-paragraph-part"><% end %>