<%# Solution wobject %>
<%# title: optional title %>
<%# label: LaTeX label %>
<%# show: show immediately? %>
<% cls = meta?('show') ? 'collapse show' : 'collapse' %>
<div class="woowoo-solution">
<p class="anchored" id="<%= label %>">
<% if meta?('title') %>
<button type="button" class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse<%= label %>"><%= r(parse_text_stub(meta['title']), glue: true) %> <span class="fa fa-eye"></span></button>
<% else %>
<a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse<%= label %>" role="button">Zobrazit řešení <span class="fa fa-eye"></span></a>
<% end %>
</p>
<div class="<%= cls %>" id="collapse<%= label %>">
  <div class="card card-body mb-3">
    <%= r content %>
  </div>
</div>
</div>
